<h1 appHighlight>Topics</h1>
<table>
  <tr><a routerLink="/component-communication">Parent Child Relationship (all types)</a></tr>
  <tr><a routerLink="/observables">Observables</a></tr>
  <tr><a routerLink="/forms">Reactive and template driven forms</a></tr>
  <tr><a routerLink="/jstopics">JS Topics</a></tr>
  <tr><a routerLink="/behaviou-sub">Behaviour subject</a></tr>
  <tr><a routerLink="/rxjsoperator">RxJS Operator</a></tr>
  <tr><a routerLink="/grid-layout">Grid Layout</a></tr>
  <tr><a routerLink="/content-projection">Content Projection</a></tr>
  <tr><a routerLink="/change-detection">Change Detection strategy</a></tr>
  <tr><a routerLink="/ag-grid">Angular ag grid example</a></tr>
</table>
<hr>
<router-outlet></router-outlet>

